- if(!pieces) pieces = [] // avoid bug if json not found

section.work
    header
        h2#projects Selected Projects

    each piece in pieces
        article
            aside !{piece.name}
                .details !{piece.year}

                if piece.links
                    div.definition
                        each url, name in piece.links
                            a(href=url) #{name}

            div.images
                if piece.photos
                    each photo in piece.photos
                        if photo.filename
                            .image(class=photo.size + " project-" + photo.filename)
                        else if photo.video
                            .image(class=photo.size + " project-" + photo.video)
                                //- video(autoplay='true', loop='true', muted='true')
                                video(autoplay, loop, muted)
                                    source(src='/images/' + photo.video + '.mp4' type='video/mp4')

            div.definition
                p!= piece.definition

                if piece.additional
                    p.additional!= piece.additional



    article
        aside &amp;c.

        .definition-etc
            p 
                a(href='mailto:io@victorloux.uk') Drop me an email
                |  if you would like see more development-oriented projects, or know more about my process.
